{% include head.html %}

  <div id="home" class="section scrollspy">
  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
          <div style="margin: 30px; background-color: #ffffff; border: 1px solid black; opacity: 0.8; filter: alpha(opacity=60);">
        <br><br>
              <center>
          <img src="/assets/images/np_sandbox-toys_1207953_000000.png" height="50px;">
                  </center>
              <h1 class="header center" style="color: #000000;">{{ site.title }}</h1>
        <div class="row center">
          <h5 class="header col s12 black-text">{{ site.description }}</h5>
        </div>
        <br><br>

      </div>
          </div>
    </div>
    <div class="parallax"><img src="{{site.parallax_image_one}}" alt="Unsplashed background img 1"></div>
  </div>
</div>

<!-- taking out portfolio for now -->
<!--
<div class="container" style="padding:20px;">
  <div id="portfolio" class="section scrollspy">

  <h3 style="text-align:center;">{{site.portfolio_heading}}</h3>

{% include portfolio_{{site.portfolio_type}}.html %}

</div>


</div>
-->

<!-- taking out tools and experience for now -->
<!--
<div class="container" style="padding:20px;">
  <div id="skills" class="section scrollspy">
   <h3 style="text-align:center;">Tools and Experience</h3>
   {% include skills.html %}
 </div>
</div>
-->


<!-- put this parrallax back in when the sections above reappear-->
<!--
  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">

        </div>
      </div>
    </div>
    <div class="parallax"><img src="{{site.parallax_image_two}}" alt="Unsplashed background img 3"></div>
  </div>
-->


<div class="container" style="padding:20px;">
  <div id="blog" class="section scrollspy">
  <h3 style="text-align:center;">Notes and updates</h3>
  {% include blog-feed.html %}
</div>
</div>

<!-- taking out contact form for now -->
<!--
<div class="container" style="padding:20px;">
  <div id="contact" class="section scrollspy">
  <h3 style="text-align:center;">Contact</h3>
  {% include contact.html %}
</div>
</div>
-->




{% include nav-burger.html %}

{% include footer.html %}
